#data {
    font-family: verdana, sans-serif;
    font-size: 24px;
    color:white;
}

body {
   background-color: #17EBF7;
   
}

.fas fa-cloud {
    color:white;
}

#submit {
    color: white;
    background-color: black;
    font-size: 18px;
}